:root {
     iframe#webpack-dev-server-client-overlay {
          display: none !important
     }
}

.daxor__block__edit-shortcut-badge {
    box-shadow: inset 0 0 0 1px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem;
}

.daxor__block__edit-shortcut-badge__url-input {
    width: 100%;
}
