:root {
     iframe#webpack-dev-server-client-overlay {
          display: none !important
     }
}

.daxor__block__edit-shortcut-badge {
    border-radius: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.daxor__block__edit-shortcut-badge__url-input {
    width: 100%;
}
