.daxor__block-content-view {
    display: flex;
    min-width: 100vw;
    flex: 1;
    padding: 2rem;

    .wp-block-columns {
        .wp-block-column {
            margin: 0 0.5rem;
        }

        .wp-block-column:first-child {
            margin-left: 0rem;
            margin-right: 0.5rem;
        }
        .wp-block-column:last-child {
            margin-left: 0.5rem;
            margin-right: 0rem;
        }
    }
}
