.daxor__block-content-view {
    flex: 1;
    padding: 2rem;

    &__block {
        margin: 1.2rem;
    }

    .wp-block-columns {
        .wp-block-column {
            margin: 0 0.5rem;
        }

        .wp-block-column:first-child {
            margin-left: 0rem;
            margin-right: 0.5rem;
        }
        .wp-block-column:last-child {
            margin-left: 0.5rem;
            margin-right: 0rem;
        }
    }
}
