.daxor__block-content-view {
    flex: 1;
    padding: 2rem;

    &__block {
        margin: 1.2rem;
    }

    .wp-block-columns {
        .wp-block-column {
            margin: 0 1rem;
        }
    }
}
