.App-header {
  background-color: #fff;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2f2f2f;

  .components-button {
    margin: 0.5rem;
  }
}

.App-link {
  color: #61dafb;
}
